procesamiento/src/main/resources/autorizacion.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified"
    xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:element name="Authorization">
        <xs:complexType>
            <xs:sequence>
                <xs:element type="xs:string" name="estado" />
                <xs:element type="xs:string" name="numeroAutorizacion" />
                <xs:element type="xs:string" name="fechaAutorizacion" />
                <xs:element type="xs:string" name="ambiente" />
                <xs:element type="xs:string" name="comprobante" />
                <xs:element name="mensajes">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="mensaje" maxOccurs="unbounded" minOccurs="0">
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element type="xs:string" name="identificador" />
                                        <xs:element type="xs:string" name="mensaje" />
                                        <xs:element type="xs:string" name="tipo" />
                                    </xs:sequence>
                                </xs:complexType>
                            </xs:element>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
</xs:schema>